<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font1" style="color: black"  >Porque adquirir os planos Sorte Certa?</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-money"></i>
                    </span>
                    <h3 style="color: black">Parcelas</h3>
                    <p style="color: black">Você realiza seu sonho pagando a menor parcela do Brasil. Sendo contemplado suas parcelas são quitadas automaticamente, SORTEOU QUITOU!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-check"></i>
                    </span>
                    <h3 style="color: black"> Planos</h3>
                    <p style="color: black">Planos flexiveis de até 72x proporcionando conforto e o melhor, cabe no seu bolço.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-home"></i>
                    </span>
                    <h3 style="color: black" >Atendimento</h3>
                    <p style="color: black">Nossos representantes em prontidão para atende-los e oferecer o plano que se encaixa em seu perfil , não fazemos consulta de restrição.</p>
                </div>
            </div>


        </div>
    </div>
</div>